header{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 3vw;
}

.diaporama{
    
}

#mapId{
   height: 180px; 
}

.rent{
    
}