header{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 3vw;
}

.diaporama{
    
}

#map{
   height: 40rem;
   max-width: 100%;
}

.rent{
    
}